* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f4f6fa;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    overflow-y: scroll;

}

#root {
    margin: 0;
}